<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Movie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Update "{{ movie.title }}"</h1>
        <form method="POST">
            <input type="text" name="title" placeholder="New Title" value="{{ movie.title }}">
            <input type="number" name="rating" placeholder="New Rating" step="0.1" min="1" max="10" value="{{ movie.rating }}">
            <button type="submit" class="button">Update</button>
        </form>
        <a href="{{ url_for('list_user_movies', user_id=user_id) }}" class="button">Back to Movies</a>
    </div>
</body>
</html>
